<div class="page-header">
  <%# if @current_role == "admin" %>
  <div class="pull-right">
    <%= link_to "Create new user", new_user_path, class: "btn btn-primary" %>
  </div>
  <%# end %>
  <h1>All users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @users.each do |user| %>
      <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %> </td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
