
html, body{
    height: 100%;
}
body{
    font-size: .9rem;
    font-weight: 400;
    color:#777;
    line-height: 1.6;
    font-family:$base-font;
    letter-spacing: .004em;
}
button{
    font-family: $base-font;
    &:focus{
      outline: 0;
    }
}

a{
    color: black;
    text-decoration:none;
    &:hover,&:focus{
        text-decoration: none;
        outline: 0!important;
        color: #888;
    }
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
    color: #212121;
    font-weight:600;
    letter-spacing: 0px;
}
.h1,h1 {
    font-size: 34.3px;
}

.h2,h2 {
    font-size: 30.1px;
}

h3,.h3 {
    font-weight: 700;
    font-size: 22px;
}

.h4,h4 {
    font-size:18px;
}

.h5,h5 {
    font-size: 14px;
}

.h6,h6 {
    font-size: 12px;
    font-weight: 500;
}


.text-small{
    font-size: 14px;
    line-height: 22px;
}

.lead{
    font-weight: 300;
}

.back-to-top{
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    bottom: 10px;
    border-radius: 50%;
    right:10px;
    background: red;
    color: #fff;
    line-height: 40px;
    opacity:0;
    visibility: hidden;
    z-index:9;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transform: translate3d(0,35px, 35px);
    -webkit-transform: translate3d(0,35px, 35px);
    text-align:center;
    i{
        display: inline-block;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    &:hover{
        box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
        color:#fff;
    }
    &.show{
        opacity:1;
        visibility: visible;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
    }
}

.section-title{
    position: relative;
    // margin-bottom: 60px;
    text-align:center;
    h4{
      font-family: $title-font;
      text-transform: capitalize;
      font-weight: 700;
      letter-spacing: 0px;
        display: inline-block;
        padding: 0.1em 0.2em;
        text-transform: uppercase;
        line-height: 125%;
        color: #212121!important;
        letter-spacing: -1px;
        font-weight:800;
        margin-bottom: 30px;
        position: relative;
        padding-bottom:20px;
        &:after{
            content: "";
            width: 80px;
            height: 2px;
            background-color: black;
            position: absolute;
            left:50%;
            bottom: 0;
            margin-left: -40px;
        }
    }

    .lead{
        font-weight: 400;
        color:#212121;
    }
}

@media(min-width:992px){

        .section-title h4{
        font-size: 2.2rem;
    }
}

.bg-parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    &:before{
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000,.3);
        background-image: url(../images/overlay-pattern.png);
        position: absolute;
        z-index: 0;
    }
    .container{
        position: relative;
        z-index: 1;
    }
}
