
.btn{
    font-size: 13px;
    font-weight: 700;
    text-transform:capitalize;
    font-family: $base-font;
    letter-spacing:1px;
    vertical-align:middle;
    border-radius: 2px;
    transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    &:focus, &:active, &.active, &:active:focus, &.active:focus {
        outline: 0;
        outline-offset: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    &.btn-rounded{
        border-radius: 100px;
        &.btn-lg{
            padding: .75rem 2rem;
        }
    }
    &.btn-3d{
        border-bottom: 3px solid rgba(0,0,0,0.2);
    }
    i{
        vertical-align: middle;
        margin-right: 8px;
        display:inline-block;
        position: relative;
        top:-2px;
    }
    &.btn-lg{
        font-size: 13px;
    }
    &:focus{
        outline: 0!important;
    }
}
.btn.btn-secondary{
    background-color: #f8f8f8;
    color:#333;
    border-color: #f8f8f8;
    &:hover,&:focus{
        background-color: #eee;
        border-color: #eee;
    }
}
.btn-white-outline{
    border: 1px solid rgba(255,255,255,0.8);
    color: #fff;
    &:hover{
        background-color:rgba(255,255,255,0.2);
        color: #fff;
    }
    &:focus{
        border: 1px solid rgba(255,255,255,0.8);
        color: #fff;
        background-color: transparent;
    }
}
