
.filter-list{
    margin-bottom:40px;
    >li{
        display: inline-block;
        cursor:pointer;
        position: relative;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
        // text-transform:uppercase;
        padding:3px 10px;
        font-size:.9rem;
        font-weight:600;
        &::before {
            position: absolute;
            top: 100%;
            left: 50%;
            color: transparent;
            content: '.';
            text-shadow: 0 0 transparent;
            font-size: 1.2em;
            margin-top:-15px;
            -webkit-transition: text-shadow 0.3s, color 0.3s;
            -moz-transition: text-shadow 0.3s, color 0.3s;
            transition: text-shadow 0.3s, color 0.3s;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
            pointer-events: none;
        }
        &:hover,&:focus,&.is-checked{
            // color: $primary-color;
            color: red;
            // color: #cf4244;

            &:before{
                // color: $primary-color;
                color: red;
                // color: #cf4244;

                text-shadow: 10px 0 red, -10px 0 red;
            }
        }
    }
}


.work-card{
    position: relative;
    overflow: hidden;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    &:before{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        background: rgba(0,0,0,.7);
        content: "";
        z-index: 1;
        opacity: 1;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        opacity:0;
    }
    .comingsoon{
      position: relative;
      overflow: hidden;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      &:before{
          position: absolute;
          width: 100%;
          height: 100%;
          left:0;
          top:0;
          background: rgba(0,0,0,.7);
          content: "";
          z-index: 1;
          opacity: 1;
          transition: all .3s;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          opacity:1;
    }
    .work-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        z-index: 2;
        opacity: 1;
            -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    .comingsoontext h3 {
      text-transform: capitalize;
      margin-top: 20px;
      margin-bottom: 0;
      text-align: center;
      color: white;
      text-decoration: underline;
      font-weight: 600;
      font-size: 1.8rem; }
    .comingsoontext em {
      text-align: center;
        color: white;
        font-size: .7rem; }
  }
    .work-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        z-index: 2;
        opacity: 0;
            -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    .overlay-content{
        position: absolute;
        bottom: 20px;
        left:30px;
        margin-bottom: 30px;
        z-index:3;
          -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        >div{
            padding-bottom: 10px;
        }
        h4{
            text-transform: capitalize;
            margin-bottom: 0;
            color: #fff;
            font-weight: 600;
            font-size: .9rem;
        }
        em{
            color: #fff;
            font-size: .7rem;
        }
        a{

            display: inline-block;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 32px;
            border-radius: 50%;
            text-align: center;
            // background: rgba($primary-color,.8);
            background: yellow;
            // background: rgba(247, 57, 57, 0.8);

            color: #fff;
            >i{
                display: block;
                line-height: 32px;
            }
            &:hover{
                // background: rgba($primary-color,1);
                background: yellow;
                // background: #cf4244;
            }
        }
    }
    &:hover{
        &:before{
            opacity: 1;
        }
        .work-overlay{
            opacity: 1;
        }
        .overlay-content{
            margin-bottom: 0;
        }
    }
}

.project-details{
    background: #fbfbfb;
    padding:20px 15px;
    p{
        border-bottom: 1px solid #eee;
        padding-bottom: 8px;
        margin-bottom: 8px;
        span{
            font-weight: 700;
            display: inline-block;
            margin-right: 8px;
        }
    }
}
